/vendor/
.env
.env.production
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
composer.lock
*.log
*.zip
.DS_Store
Thumbs.db
.phpunit.result.cache
